.header {
  border: 1px solid black;
  @include grid-column(12);
  background-image: url(../img/bernieHero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 710px;
}


.header-column-1 {
  @include grid-column(6);
  border: 1px solid red;

}
.header-column-2 {
  @extend .header-column-1 ;
  ul li {
    float: right;
    list-style: none;
    display: inline-block;
    margin: 5%;
    color: white;
    
  }

}

h1 {
  color: white;
  font-size: 80px;
}
h2 {
  color: white;
  font-size: 50px;
}
