.header {
  border: 1px solid black;
  @include grid-column(12);
}


.header-column-1 {
  background-color: yellow !important;
  @include grid-column(12);
  height: 200px;
}
h1 {
  text-align: center;
  background-color: black;
  @include fontBorder;
}
