.header {
  border: 1px solid black;
  @include grid-column(12);
  background-image: url(../img/bernieHero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}


.header-column-1 {
  @include grid-column(12);
}
h1 {
  text-align: center;
  color: white;
  font-size: 60px;

  @include fontBorder;
}
