//this will style container
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  border: 1px solid black !important;
  @include grid-container($grid: $neat-grid);
  @include clearfix;
}

#white {
  color: white;
}

.paragraphBox p {
  font-family: monospace;
  margin: 1%;
  font-size: 18px;
}
