@media screen and (max-width: 814px) {
  .header {
    background-image: none !important;
    background-color: #0076CE;
    height: 300px !important;
  }
  .header-column-1 h1 {
    font-size: 18px !important;
  }
  .header a {
    font-size: 12px !important;
  }

  .body .rowTwo-column-1 {
    @include grid-column(12);
    height: 100%;
  }
  .rowTwo-column-1 img {
    max-width: 100%;
  }
  .rowThree-body {
    height: 600px !important;
  }
}
