@media screen and (max-width: 836px) {
  .header {
    background-image: url(../img/berniePortrait.jpg) !important;
    background-size: cover !important;
    height: 425px !important;
  }
  .header-column-1 h1 {
    font-size: 30px !important;
  }
  .header-column-1 h2 {
    font-size: 36px !important;
  }
  .header a {
    font-size: 12px !important;
  }

  .body .rowTwo-column-1 {
    @include grid-column(12);
    height: 100%;
  }
  .rowTwo-column-1 img {
    max-width: 100%;
  }
}
@media screen and (min-width: 2080px) {
  .header {
    height: 1500px !important;
  }
  #redBorder h1 {
    font-size: 300px !important;
  }
  #redBorder h2 {
    font-size: 150px;
  }
  .header-column-2 {
    li a {
      font-size: 50px;
    }

  }
  .paragraphBox p {
    font-size: 50px;
  }
  .rowOne-column-1 img {
    height: 120px !important;
  }
  .paragraphBox h4 {
    font-size: 60px;
  }
  .rowTwo-column-1 h2 {
    font-size: 120px;
    color: gray;
  }
  .rowTwo-column-1  a img {
    height: 500px !important;
  }
  .quote1 h1 {
    font-size: 200px;
  }
}
