//header links
.header a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.header a:hover {
  border: 1px solid white;
  border-radius: 5px;
}
//social media links
.header-column-2 {
  @extend .header-column-1 ;
  ul li {
    float: right;
    list-style: none;
    display: inline-block;
    color: white;
    margin: 2.5%;
  }

}
.rowTwo-column-1 img:hover {
  box-shadow: 8px 8px 8px 8px gray;
  border-radius: 100%
}
