//header links
.header a {
  text-decoration: none;
  border-bottom: 1px solid $color;
  color: white;
  font-size: 15px;
}
.header a:hover {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2%;
}
//social media links
.header-column-2 {
  @extend .header-column-1 ;
  ul li {
    float: right;
    list-style: none;
    display: inline-block;
    color: white;
    margin: 5%;
  }
}
.rowTwo-column-1 img:hover {
  box-shadow: 8px 8px 8px 8px gray;
  border-radius: 100%
}
.navigation {
  border-top: 2px solid red;
  margin: auto;
  @include grid-column(12);
  padding: 20px;
  background-color: black;
}
.navigation ul {
  @include clearfix;
  display: block;
  margin: auto;
  text-align: center;
}
.navigation ul li {
  display: inline;
  text-align: center;
  margin: 6%;
  & a {
    color: white;
    text-decoration: none;
  }
}
